/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background: url('../assets/background-repeat.png') repeat-x;
}
.container {
  max-width: 1000px;
  margin: 0px auto;
}

.container--wrapper {
	margin-top: 20px;
 }

.box-list--header {
    display: flex;
    margin: 15px 0px;
}

.search-box {
    width: 50%;
}

.search-box input {
    width: 220px;
    height: 43px;
    border-radius: 5px;
    border: 2px solid #d1d5da;
}

.btn {
	height: 42px;
	width: 90px;
	font-weight: 400;
	border:1px solid #e2e2e2;
	font-size: 14px;
	cursor: pointer;
	margin:0px 5px;
}

.bottom-pagination div{
    float: right;
    margin-bottom: 20px;
}

.margin-t-10 {
	margin-top: 10px;
}

.error--message {
	color: red;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	margin-top: 20px;

}

.loading--container {
	margin-top: 100px;;
	display: flex;
	justify-content: center;
	height: 100%;
}

.loading--container img {
	width: 100px;
	height: 100px;
}

.not-found--wrapper {
	
	width: 500px;
	margin: 50px auto;
	border:1px solid #e2e2e2;
	border-radius: 8px 8px;
	
}

.not-found--wrapper h1 {
	border-radius: 8px 8px;
	font-size: 22px;
	border-bottom: 1px solid #e2e2e2;
	font-weight: bolder;
	text-align: center;
	padding: 20px;
}
.not-found--wrapper h1 img {
	width: 80px;
	height: 80px;
}
.not-found--wrapper h1 span {
	position: relative;
    top: -30px;
}

.not-found--wrapper p {
	text-align: center;
	padding: 20px;
}

