.header-nav {
  height: 85px;
  background-color: #24292e;
  display: flex;
  
}

.header-nav .logo {
  margin-top: 10px;
  margin-left: 25px;;
  margin-right: 20px;;
}

.header-nav .logo > img {
    width: 50px;
    height: 50px;
}

 .nav {
  display: flex;
  margin-top: 30px;
}

 .nav li {
  margin-left: 20px;;
}

 .active > a {
  color:  #ffffff !important;
}

.nav > li > a {
  color:#91969c;
  font-weight: bold;
  text-decoration: none;
}

