.repo-item {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border: 1px solid #e2e2e2;
    padding: 10px;
    border-radius: 8px 8px;
    transition: all .5s;
}
.repo-item:hover {
    background-color: #e2e2e2;
}
.repo-item > div {
    width: 33%;
}

.info > p {
    line-height: 30px;
    white-space: nowrap;
}

.info > p strong {
    font-weight: bold;
    white-space: nowrap;
    padding-right: 5px;
}
.repo-item .avatar img {
    width: 90px;
    height: 90px;
    border-radius: 8px 8px;
}

.external-link {
    text-align: right;
    margin-top: 35px;
}

.repository-item-box{ 
    border: 1px solid #e2e2e2;
    border-radius: 8px 8px;
    min-height: 500px;
}