.user-detail-wrapper {
   margin-top: 15px;
 }
 
 .back-button {
     margin-top: 10px;
 }

.repository-title {
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
}
.user-details-box--wrapper {
    margin: 10px 0px;
    border:1px solid #e2e2e2;
    border-radius: 8px 8px;
    display: flex;
}

.user-detail--box {
    width:100%;
    padding: 10px;
}

.user-detail--box .top-box {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.user-detail--box .top-box .left,
.user-detail--box .top-box .right {
    width: 50%;
}

.user-detail--box .top-box p {
    margin: 10px 0px;
}