.page-title h1 {
    font-size: 20px;
    font-weight: bold;
}


.top-pagination {
    width: 50%;
}

.top-pagination div {
    float:right;
}

.user-content {
    min-height: 500px;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    margin-bottom: 20px;;
}
.user-content .default-message {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
}

.default-message {
    text-align: center;
}



/*  
 * User List
 */
.user-list {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
}


/*  
 * User Items 
 */

.user-item {
    display: block !important;
    width: 150px;
    height: 150px;
    border:1px solid #e2e2e2;
    padding: 10px;
    margin: 20px 10px;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}
.hover-item:hover {
    border-color: rgb(48, 45, 45);
}
.user-item.no-hover .user-item:hover{
    border:1px solid #e2e2e2 !important;
}
.user-item div.avatar img{
    width: 100px;
    height: 100px;
    border-radius: 8px 8px;
    margin:10px;
    margin-left: 25px;
}

.user-item div.user-name {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #91969c;
}